.y {
	position: absolute;
	top: 100vh;
	margin-top: 220px;
	left: 38%;
font-family: 'Tenor Sans', sans-serif;
	font-size: 25vw;
	line-height: 30px;
	font-weight: normal;
	color: white;
	cursor: pointer;
}
.y:hover {
	color: grey;
}


.s {
	position: absolute;
	top: 100vh;
	margin-top: 300px;
	left: 40%;
	font-family: 'Tenor Sans', sans-serif;
	font-size: 25vw;
	line-height: 30px;
	font-weight: normal;
	color: white;
	cursor: pointer;
}
.s:hover {
	color: grey;
}

.l {
	position: absolute;
	top: 100vh;
	margin-top: 380px;
	left: 45%;
	font-family: 'Tenor Sans', sans-serif;
	font-size: 25vw;
	line-height: 30px;
	font-weight: normal;
	color: white;
	cursor: pointer;
}
.l:hover {
	color: grey;
}

.bg {
	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100vw;
  	height: 100vh;
	background-image: url("pic.gif");
	background-size: cover;
	background-position: center;
}
.bg2{
	position: absolute;
	top: 100vh;
	background-size: cover;
	background-position: center;
	background-color: black;
	left: 0;
	width: 100vw;
	height: 250vh;
}

.text1 {
	position: absolute;
	margin-top: 140px;
  top: 100vh;
  left: 55%;
	font-family: 'Tenor Sans', sans-serif;
  font-size: 1.8vw;
  color: white;
  width: 250px;
  opacity: 0;
  transition: 0.6s opacity;
  cursor: pointer;
}
.text1:hover {
	opacity: 1;
}

.text2 {
	position: absolute;
	margin-top: 290px;
  top: 100vh;
  left: 19%;
	font-family: 'Tenor Sans', sans-serif;
  font-size: 1.8vw;
  color: white;
  width: 240px;
  text-align: right;
  opacity: 0;
  transition: 0.6s opacity;
  cursor: pointer;
}
.text2:hover {
	opacity: 1;
}
.text3 {
	position: absolute;
	margin-top: 400px;
  top: 100vh;
  left: 55%;
	font-family: 'Tenor Sans', sans-serif;
  font-size: 1.8vw;
  color: white;
  opacity: 0;
  transition: 0.6s opacity;
  cursor: pointer;
  width: 200px;
}
.text3:hover {
	opacity: 1;
}
.text4 {
	position: absolute;
	margin-top: 600px;
  top: 100vh;
  left: 43vw;
	font-family: 'Tenor Sans', sans-serif;
  font-size: 1.5vw;
  color: white;
  text-align: center;
}
.text5 {
	position: absolute;
	margin-top: 640px;
  top: 100vh;
  left: 37vw;
	font-family: 'Tenor Sans', sans-serif;
  font-size: 1.3vw;
  color: white;
  width: 250px;
  text-align: center;
}
.text6 {
position: absolute;
	margin-top: 1100px;
  top: 100vh;
  left: 43vw;
	font-family: 'Tenor Sans', sans-serif;
  font-size: 1.5vw;
  color: white;
  text-align: center;
}
.text7 {
position: absolute;
	margin-top: 1500px;
  top: 100vh;
  left: 33.5vw;
	font-family: 'Tenor Sans', sans-serif;
  font-size: 1vw;
  color: white;
  text-align: center;
  cursor: pointer;
}

a {
	color: white;
	text-decoration: none;
}

.photo1 {
	position: absolute;
	background-image: url("1.png");
	background-size: cover;
	background-position: center;
	height: 300px;
	width: 180px;
	top: 100vh;
	margin-top: 700px;
	left: 10vw;
	transition:  all 0.25s ease-in-out;

}
.photo1:hover {
	background-image: url(5.png);
}

.photo2 {
	position: absolute;
	background-image: url("2.png");
	background-size: cover;
	background-position: center;
	height: 300px;
	width: 180px;
	top: 100vh;
	margin-top: 700px;
	left: 30vw;
	transition:  all 0.25s ease-in-out;

}
.photo2:hover {
		background-image: url(7.png);
}

.photo3 {
	position: absolute;
	background-image: url("3.png");
	background-size: cover;
	background-position: center;
	top: 100vh;
	height: 300px;
	width: 180px;
	margin-top: 700px;
	left: 50vw;
	transition: all 0.25s ease-in-out;

}
.photo3:hover {
	background-image: url(6.png);
}
.photo4 {
	position: absolute;
	background-image: url("4.png");
	background-size: cover;
	background-position: center;
	height: 300px;
	width: 180px;
	top: 100vh;
	margin-top: 700px;
	left: 70vw;
	transition:  all 0.25s ease-in-out;

}
.photo4:hover {
	background-image: url(8.png);
}

.video1 {
	position: absolute;
	top: 100vh;
	margin-top: 1150px;
	left: 27vw;
}

@media (max-width: 711px) {


  .bg {
  	background-image: url(pic.gif);
  }
  .photo1 {
    left: 35vw;
    top: 470px;
  }
  .photo2 {
    left: 35vw;
    top: 790px;
  }
  .photo3 {
    left: 35vw;
    top: 1110px;
  }
  .photo4 {
  	  left: 35vw;
    top: 1130px;
  }
}





