.head1 {
	position: absolute;
	top: 3vh;
	left: 18.3vw;
	color: white;
	font-family: adelle sans;
	font-size: 40pt;
}

.head2 {
	position: absolute;
	top: 11.5vh;
	left: 18.3vw;
	color: white;
	font-family: adelle sans;
	font-size: 40pt;
}

.head3 {
	position: absolute;
	top: 19vh;
	left: 18.3vw;
	color: white;
	font-family: adelle sans;
	font-size: 60pt;
}

.ca {
	position: absolute;
	background-image: url("ca.gif");
	top: 0vh;
	background-size: cover;
	background-position: center;
	height: 250px;
	width: 200px;
	left: 40vw;
}

.timeline {
	position: relative;
	height: 6700px;
	width: 5px;
	left: 16.5vw;
	background-color: white;
}

.bg {
	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100vw;
  	height: 6700px;
	background-image: url("fire.gif");
	background-position: center;

}


.a1 {
	position: absolute;
	top: 44vh;
	left: 9.7vw;
	font-family: adelle sans; 
	font-size: 10pt;
	color: white;
}
.b1 {
	position: absolute;
	top: 47vh;
	left: 5.6vw;
	font-family: adelle sans;
	font-size: 12pt;
	color: white;
}
.c1 {
	position: absolute;
	top: 41vh;
	left: 50vw;
	font-family: adelle sans;
	font-size: 16pt;
	letter-spacing: 1pt;
	width: 500px;

	transition:  all 0.25s ease-in-out;
}
.c1:hover {
	font-size: 18pt;
}
a {
	text-decoration: none;
	color: white;
}
.pic1 {
	position: absolute;
	background-image: url("castailake.png");
	top: 33vh;
	background-size: cover;
	background-position: center;
	height: 200px;
	width: 300px;
	left: 18.5vw;
}

.a2 {
	position: absolute;
	top: 80vh;
left: 10.6vw;
	font-family: adelle sans;
	font-size: 10pt;
	color: white;
}
.b2 {
	position: absolute;
	top: 83vh;
left: 9.4vw;
	font-family: adelle sans;
	font-size: 12pt;
	color: white;
}
.c2 {
	position: absolute;
	top: 78vh;
	left: 50vw;
	font-family: adelle sans;
	font-size: 16pt;
	color: white;
	letter-spacing: 1pt;
	width: 500px;
	transition:  all 0.25s ease-in-out;
}
.c2:hover {
	font-size: 18pt;
}
.pic2 {
	position: absolute;
	background-image: url("oroville.png");	
	top: 66.5vh;
	background-size: cover;
	background-position: center;
	height: 200px;
	width: 300px;
	left: 18.5vw;
}

.a3 {
	position: absolute;
	top: 115vh;
	left: 10.5vw;
	font-family: adelle sans;
	font-size: 10pt;
	color: white;
}
.b3 {
	position: absolute;
	top: 118vh;
	left: 10vw;
	font-family: adelle sans;
	font-size: 12pt;
	color: white;
}
.c3 {
	position: absolute;
	top: 111vh;
	left: 50vw;
	font-family: adelle sans;
	font-size: 16pt;
	color: white;
	letter-spacing: 1pt;
	width: 450px;
	transition:  all 0.25s ease-in-out;
}
.c3:hover {
	font-size: 18pt;
}
.pic3 {
	background-image: url("alamo.jpg");
	position: absolute;
	top: 100vh;
	background-size: cover;
	background-position: center;
	height: 200px;
	width: 300px;
	left: 18.5vw;
}

.a4 {
	position: absolute;
	top: 149vh;
	left: 10.5vw;
	font-family: adelle sans;
	font-size: 10pt;
	color: white;
}
.b4 {
	position: absolute;
	top: 152vh;
	left: 11.3vw;
	font-family: adelle sans;
	font-size: 12pt;
	color: white;
}
.c4 {
	position: absolute;
	top: 143vh;
	left: 50vw;
	font-family: adelle sans;
	font-size: 16pt;
	color: white;
	letter-spacing: 1pt;
	width: 450px;
	transition:  all 0.25s ease-in-out;
}
.c4:hover {
	font-size: 18pt;
}
.pic4 {
	position: absolute;
	background-image: url("wall.png");
	top: 133vh;
	background-size: cover;
	background-position: center;
	height: 200px;
	width: 300px;
	left: 18.5vw;
}

.a5 {
	position: absolute;
	top: 179vh;
	left: 10vw;
	font-family: adelle sans;
	font-size: 10pt;
	color: white;
}
.b5 {
	position: absolute;
	top: 182vh;
	left: 8vw;
	font-family: adelle sans;
	font-size: 12pt;
	color: white;
}
.c5 {
	position: absolute;
	top: 177vh;
	left: 50vw;
	font-family: adelle sans;
	font-size: 16pt;
	color: white;
	letter-spacing: 1pt;
	width: 400px;
	transition:  all 0.25s ease-in-out;
}
.c5:hover {
	font-size: 18pt;
}
.pic5 {
	position: absolute;
	background-image: url("detwiler.png");
	top: 167vh;
	background-size: cover;
	background-position: center;
	height: 200px;
	width: 300px;
	left: 18.5vw;
}

.bigpic1 {
	position: absolute;
	background-image: url("bigpic1.png");
	top: 1260px;
	background-size: cover;
	background-position: center;
	height: 600px;
	width: 1000px;
}

.a6 {
	position: absolute;
	top: 310vh;
	left: 8vw;
	font-family: adelle sans;
	font-size: 10pt;
	color: white;
}
.b6 {
	position: absolute;
	top: 313vh;
	left: 11vw;
	font-family: adelle sans;
	font-size: 12pt;
	color: white;
}
.c6 {
	position: absolute;
	top: 306vh;
	left: 50vw;
	font-family: adelle sans;
	font-size: 16pt;
	color: white;
	letter-spacing: 1pt;
	width: 400px;
	transition:  all 0.25s ease-in-out;
}
.c6:hover {
	font-size: 18pt;
}
.pic6 {
	position: absolute;
	background-image: url("pier.png");
	top: 297vh;
	background-size: cover;
	background-position: center;
	height: 200px;
	width: 300px;
	left: 18.5vw;

}

.a7 {
	position: absolute;
	top: 2150px;
	left: 70px;
	font-family: adelle sans;
	font-size: 10pt;
	color: white;
}
.b7 {
	position: absolute;
	top: 2170px;
	left: 90px;
	font-family: adelle sans;
	font-size: 12pt;
	color: white;
}
.c7 {
	position: absolute;
	top: 2110px;
	left: 550px;
	font-family: adelle sans;
	font-size: 16pt;
	color: white;
	letter-spacing: 1pt;
	width: 400px;
	transition:  all 0.25s ease-in-out;
}
.c7:hover {
	font-size: 18pt;
}
.pic7 {
	position: absolute;
	background-image: url("latuna.png");
	top: 2080px;
	background-size: cover;
	background-position: center;
	height: 200px;
	width: 300px;
	left: 200px;
}

.a8 {
	position: absolute;
	top: 2370px;
	left: 88px;
	font-family: adelle sans;
	font-size: 10pt;
	color: white;
}
.b8 {
	position: absolute;
	top: 2390px;
	left: 60px;
	font-family: adelle sans;
	font-size: 12pt;
	color: white;
}
.c8 {
	position: absolute;
	top: 2340px;
	left: 550px;
	font-family: adelle sans;
	font-size: 16pt;
	color: white;
	letter-spacing: 1pt;
	width: 450px;
	transition:  all 0.25s ease-in-out;
}
.c8:hover {
	font-size: 18pt;
}
.pic8 {
	position: absolute;
	background-image: url("napa.png");
	top: 2290px;
	background-size: cover;
	background-position: center;
	height: 200px;
	width: 300px;
	left: 200px;
}

.a9 {
	position: absolute;
	top: 2570px;
	left: 90px;
	font-family: adelle sans;
	font-size: 10pt;
	color: white;
}
.b9 {
	position: absolute;
	top: 2590px;
	left: 60px;
	font-family: adelle sans;
	font-size: 12pt;
	color: white;
}
.c9 {
	position: absolute;
	top: 2540px;
	left: 550px;
	font-family: adelle sans;
	font-size: 16pt;
	color: white;
	letter-spacing: 1pt;
	width: 400px;
	transition:  all 0.25s ease-in-out;
}
.c9:hover {
	font-size: 18pt;
}
.pic9 {
	position: absolute;
	background-image: url("anaheim.png");
	top: 2500px;
	background-size: cover;
	background-position: center;
	height: 200px;
	width: 300px;
	left: 200px;
}

.a10 {
	position: absolute;
	top: 2780px;
	left: 80px;
	font-family: adelle sans;
	font-size: 10pt;
	color: white;
}
.b10 {
	position: absolute;
	top: 2800px;
	left: 124px;
	font-family: adelle sans;
	font-size: 12pt;
	color: white;
}
.c10 {
	position: absolute;
	top: 2750px;
	left: 550px;
	font-family: adelle sans;
	font-size: 16pt;
	color: white;
	letter-spacing: 1pt;
	width: 450px;
	transition:  all 0.25s ease-in-out;
}
.c10:hover {
	font-size: 18pt;
}
.pic10 {
	position: absolute;
	background-image: url("york.png");
	top: 2710px;
	background-size: cover;
	background-position: center;
	height: 200px;
	width: 300px;
	left: 200px;
}

.a11 {
	position: absolute;
	top: 3600px;
	left: 80px;
	font-family: adelle sans;
	font-size: 10pt;
	color: white;
}
.b11 {
	position: absolute;
	top: 3620px;
	left: 53px;
	font-family: adelle sans;
	font-size: 12pt;
	color: white;
}
.c11 {
	position: absolute;
	top: 3570px;
	left: 550px;
	font-family: adelle sans;
	font-size: 16pt;
	color: white;
	letter-spacing: 1pt;
	width: 450px;
	transition:  all 0.25s ease-in-out;
}
.c11:hover {
	font-size: 18pt;
}
.bigpic2 {
	position: absolute;
	background-image: url("bigpic2.png");
	top: 2920px;
	background-size: cover;
	background-position: center;
	height: 600px;
	width: 1000px;
}

.pic11 {
	position: absolute;
	background-image: url("mountwilson.png");
	top: 3530px;
	background-size: cover;
	background-position: center;
	height: 200px;
	width: 300px;
	left: 200px;
}

.a12 {
	position: absolute;
	top: 3820px;
	left: 80px;
	font-family: adelle sans;
	font-size: 10pt;
	color: white;
}
.b12 {
	position: absolute;
	top: 3840px;
	left: 110px;
	font-family: adelle sans;
	font-size: 12pt;
	color: white;
}
.c12 {
	position: absolute;
	top: 3790px;
	left: 550px;
	font-family: adelle sans;
	font-size: 16pt;
	color: white;
	letter-spacing: 1pt;
	width: 450px;
	transition:  all 0.25s ease-in-out;
}
.c12:hover {
	font-size: 18pt;
}
.pic12 {
	position: absolute;
	background-image: url("nuns.png");
	background-size: cover;
	background-position: center;
	height: 200px;
	width: 300px;
	top: 3740px;
	left: 200px;
}

.a13 {
	position: absolute;
	top: 4020px;
	left: 80px;
	font-family: adelle sans;
	font-size: 10pt;
	color: white;
}
.b13 {
	position: absolute;
	top: 4040px;
	left: 85px;
	font-family: adelle sans;
	font-size: 12pt;
	color: white;
}
.c13 {
	position: absolute;
	top: 4000px;
	left: 550px;
	font-family: adelle sans;
	font-size: 16pt;
	color: white;
	letter-spacing: 1pt;
	width: 450px;
	transition:  all 0.25s ease-in-out;
}
.c13:hover {
	font-size: 18pt;
}
.pic13 {
	position: absolute;
	background-image: url("oakmont.png");
	background-size: cover;
	background-position: center;
	height: 200px;
	width: 300px;
	top: 3950px;
	left: 200px;
}


.a14 {
	position: absolute;
	top: 4230px;
	left: 80px;
	font-family: adelle sans;
	font-size: 10pt;
	color: white;
}
.b14 {
	position: absolute;
	top: 4250px;
	left: 35px;
	font-family: adelle sans;
	font-size: 12pt;
	color: white;
}
.c14 {
	position: absolute;
	top: 4200px;
	left: 550px;
	font-family: adelle sans;
	font-size: 16pt;
	color: white;
	letter-spacing: 1pt;
	width: 450px;
	transition:  all 0.25s ease-in-out;
}
.c14:hover {
	font-size: 18pt;
}
.pic14 {
	position: absolute;
	background-image: url("sonoma.png");
	background-size: cover;
	background-position: center;
	height: 200px;
	width: 300px;
	top: 4160px;
	left: 200px;
}


.a15 {
	position: absolute;
	top: 4440px;
	left: 70px;
	font-family: adelle sans;
	font-size: 10pt;
	color: white;
}
.b15 {
	position: absolute;
	top: 4460px;
	left: 60px;
	font-family: adelle sans;
	font-size: 12pt;
	color: white;
}
.c15 {
	position: absolute;
	top: 4420px;
	left: 550px;
	font-family: adelle sans;
	font-size: 16pt;
	color: white;
	letter-spacing: 1pt;
	width: 450px;
	transition:  all 0.25s ease-in-out;
}
.c15:hover {
	font-size: 18pt;
}
.pic15 {
	position: absolute;
	background-image: url("santapaula.png");
	background-size: cover;
	background-position: center;
	height: 200px;
	width: 300px;
	top: 4370px;
	left: 200px;
}

.bigpic3 {
	position: absolute;
	background-image: url("bigpic3.png");
	top: 4580px;
	background-size: cover;
	background-position: center;
	height: 600px;
	width: 1000px;
}


.a16 {
	position: absolute;
	top: 200vh;
	left: 11vw;
	font-family: adelle sans;
	font-size: 10pt;
	color: white;
}
.b16 {
	position: absolute;
	top: 203vh;
	left: 12vw;
	font-family: adelle sans;
	font-size: 12pt;
	color: white;
}
.c16 {
	position: absolute;
	top: 5230px;
	left: 550px;
	font-family: adelle sans;
	font-size: 16pt;
	color: white;
	letter-spacing: 1pt;
	width: 450px;
	transition:  all 0.25s ease-in-out;
}
.c16:hover {
	font-size: 18pt;
}
.pic16 {
	position: absolute;
	background-image: url("ventura.png");
	background-size: cover;
	background-position: center;
	height: 200px;
	width: 300px;
	top: 5190px;
	left: 200px;
}


.a17 {
	position: absolute;
	top: 5470px;
	left: 70px;
	font-family: adelle sans;
	font-size: 10pt;
	color: white;
}
.b17 {
	position: absolute;
	top: 5490px;
	left: 105px;
	font-family: adelle sans;
	font-size: 12pt;
	color: white;
}
.c17 {
	position: absolute;
	top: 5450px;
	left: 550px;
	font-family: adelle sans;
	font-size: 16pt;
	color: white;
	letter-spacing: 1pt;
	width: 450px;
	transition:  all 0.25s ease-in-out;
}
.c17:hover {
	font-size: 18pt;
}
.pic17 {
	position: absolute;
	background-image: url("creek.png");
	background-size: cover;
	background-position: center;
	height: 200px;
	width: 300px;
	top: 5400px;
	left: 200px;
}


.a18 {
	position: absolute;
	top: 5670px;
	left: 70px;
	font-family: adelle sans;
	font-size: 10pt;
	color: white;
}
.b18 {
	position: absolute;
	top: 5690px;
	left: 100px;
	font-family: adelle sans;
	font-size: 12pt;
	color: white;
}
.c18 {
	position: absolute;
	top: 5650px;
	left: 550px;
	font-family: adelle sans;
	font-size: 16pt;
	color: white;
	letter-spacing: 1pt;
	width: 450px;
	transition:  all 0.25s ease-in-out;
}
.c18:hover {
	font-size: 18pt;
}
.pic18 {
	position: absolute;
	background-image: url("liberty.png");
	background-size: cover;
	background-position: center;
	height: 200px;
	width: 300px;
	top: 5610px;
	left: 200px;
}


.a19 {
	position: absolute;
	top: 5870px;
	left: 70px;
	font-family: adelle sans;
	font-size: 10pt;
	color: white;
}
.b19 {
	position: absolute;
	top: 5890px;
	left: 120px;
	font-family: adelle sans;
	font-size: 12pt;
	color: white;
}
.c19 {
	position: absolute;
	top: 5870px;
	left: 550px;
	font-family: adelle sans;
	font-size: 16pt;
	color: white;
	letter-spacing: 1pt;
	width: 450px;
	transition:  all 0.25s ease-in-out;
}
.c19:hover {
	font-size: 18pt;
}
.pic19 {
	position: absolute;
	background-image: url("lilac.png");
	background-size: cover;
	background-position: center;
	height: 200px;
	width: 300px;
	top: 5820px;
	left: 200px;
}


.a20 {
	position: absolute;
	top: 6110px;
	left: 60px;
	font-family: adelle sans;
	font-size: 10pt;
	color: white;
}
.b20 {
	position: absolute;
	top: 6130px;
	left: 85px;
	font-family: adelle sans;
	font-size: 12pt;
	color: white;
}
.c20 {
	position: absolute;
	top: 6080px;
	left: 550px;
	font-family: adelle sans;
	font-size: 16pt;
	color: white;
	letter-spacing: 1pt;
	width: 450px;
	transition:  all 0.25s ease-in-out;
}
.c20:hover {
	font-size: 18pt;
}
.pic20 {
	position: absolute;
	background-image: url("thomas.png");
	background-size: cover;
	background-position: center;
	height: 200px;
	width: 300px;
	top: 6030px;
	left: 200px;
}


.a21 {
	position: absolute;
	top: 6320px;
	left: 70px;
	font-family: adelle sans;
	font-size: 10pt;
	color: white;
}
.b21 {
	position: absolute;
	top: 6340px;
	left: 125px;
	font-family: adelle sans;
	font-size: 12pt;
	color: white;
}
.c21 {
	position: absolute;
	top: 6300px;
	left: 550px;
	font-family: adelle sans;
	font-size: 16pt;
	color: white;
	letter-spacing: 1pt;
	width: 450px;
	transition:  all 0.25s ease-in-out;
}
.c21:hover {
	font-size: 18pt;
}
.pic21 {
	position: absolute;
	background-image: url("hill.jpg");
	background-size: cover;
	background-position: center;
	height: 200px;
	width: 300px;
	top: 6240px;
	left: 200px;
}


.a22 {
	position: absolute;
	top: 6530px;
	left: 75px;
	font-family: adelle sans;
	font-size: 10pt;
	color: white;
}
.b22 {
	position: absolute;
	top: 6550px;
	left: 110px;
	font-family: adelle sans;
	font-size: 12pt;
	color: white;
}
.c22 {
	position: absolute;
	top: 6520px;
	left: 550px;
	font-family: adelle sans;
	font-size: 16pt;
	color: white;
	letter-spacing: 1pt;
	width: 450px;
	transition:  all 0.25s ease-in-out;
}
.c22:hover {
	font-size: 18pt;
}
.pic22 {
	position: absolute;
	background-image: url("camp.jpg");
	background-size: cover;
	background-position: center;
	height: 200px;
	width: 300px;
	top: 6450px;
	left: 200px;
}

@media (max-width: 711px) {

	.pic1 {
		left: 
	}