div {
	position: relative;
}
.bg {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 375px;
	height: 1000px;
	background-size: cover;
	background-color: black;
} 
.bg2 {
	position: absolute;
	top: 400px;
	left: 0;
	width: 375px;
	height: 6700px;
	background-size: cover;
	background-color: #161D26;
}
.bg3 {
	position: absolute;
	top: 400px;
	left: 0;
	width: 375px;
	height: 7000px;
	background-size: cover;
	background-color: #161D26;
}
.bg4 {
	position: absolute;
	top: 400px;
	left: 0;
	width: 375px;
	height: 7000px;
	background-size: cover;
	background-color: #161D26;
}
.bg5 {
	position: absolute;
	top: 248px;
	left: 0;
	width: 375px;
	height: 8400px;
	background-size: cover;
	background-color: #161D26;
}
.bg6 {
	position: absolute;
	top: 248px;
	left: 0;
	width: 375px;
	height: 1450px;
	background-size: cover;
	background-color: #161D26;
}
.w {
	border-right: solid 3px #6A95A6;
  white-space: nowrap;
  overflow: hidden;      
  font-size: 28px;
  padding: 10px;
  background-color: black;
  color: white;
  margin: 0 auto;
left: 42px;
	top: 10px;
	font-family: fresno, sans-serif, monospace;
	font-weight: 400;
	font-style: italic;
	animation: animated-text 4s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}
@keyframes animated-text{
  from{width: 0;}
  to{width: 472px;}
}
.title {
	font-family: fresno, sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 35px;
	left: -10px;
	top: -20px;
	font-weight: normal;
	color: #6A95A6;
	text-align: center;
}
.title2 {
	position: absolute;
	top: 55px;
	font-family: fresno, sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 20px;
	font-weight: normal;
	color: #6A95A6;
	width: 185px;
	left: 10px;
	letter-spacing: .25px;
}
.title3 {
	position: absolute;
	top: 170px;
	font-family: fresno, sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 20px;
	font-weight: normal;
	color: #6A95A6;
	width: 270px;
	left: 10px;
	letter-spacing: 2px;
}
.title4 {
	position: absolute;
	top: 140px;
	font-family: fresno, sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 20px;
	font-weight: normal;
	color: #6A95A6;
	width: 300px;
	left: 10px;
}
.title5 {
	position: absolute;
	top: 40px;
	font-family: fresno, sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 20px;
	font-weight: normal;
	color: #6A95A6;
	width: 230px;
	left: 25px;
}
.title6 {
	position: absolute;
	top: 270px;
	font-family: fresno, sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 20px;
	font-weight: normal;
	color: #6A95A6;
	width: 250px;
	left: 25px;
}

a {
	text-decoration: none;
	color: white;
	cursor: pointer;
	transition: text 0.25s ease-in-out;
}
.names {
	position: absolute;
	text-align: center;
	top: 260px;
	left: 30px;
	color: white;
	font-size: 25px;
	
font-family: transat-text, sans-serif;

font-weight: 300;

font-style: normal;
	width: 320px;
	line-height: 60px;

}
.names: hover {
		color: #6A95A6;
	cursor: pointer;
	transition: text 0.25s ease-in-out;
}

.body1 {
	font-size: 15px;
	
font-family: transat-text, sans-serif;

font-weight: 300;

font-style: normal;
	color: white;
	width: 320px;
	left: 0px;
	top: 80px;
	text-align: left;
}
.q {
	position: relative;
	font-size: 15px;
	
font-family: transat-text, sans-serif;

font-weight: 300;

font-style: normal;
	font-style: italic;
	color: #6A95A6;
	width: 280px;
	top: 170px;
	left: 20px;
	margin-bottom: 35px;
	margin-left: 15px;
	text-align: left;
}
.a {
	position: relative;
	font-size: 15px;	
font-family: transat-text, sans-serif;
font-weight: 300;
font-style: normal;
	color: white;
	width: 280px;
	left: 2px;
	top: 170px;
	margin-bottom: 35px;
	text-align: left;
	margin-left: -10px;
	}
.img1 {
	position: absolute;
	top: 0px;
	left: -224px;
}
.sub {
	position: absolute;
	top: 205px;
	left: 10px;
	color: white;
	
font-family: transat-text, sans-serif;

font-weight: 300;
	font-style: italic;
	font-size: 8.5px;
}
.sub2 {
	position: absolute;
	top: 320px;
	left: 10px;
	color: white;
	
font-family: transat-text, sans-serif;

font-weight: 300;

	font-style: italic;
	font-size: 8.5px;
}
.sub3 {
	position: absolute;
	top: 290px;
	left: 10px;
	color: white;
	
font-family: transat-text, sans-serif;

font-weight: 300;


	font-style: italic;
	font-size: 8.5px;
}
.sub4 {
	position: absolute;
	top: 280px;
	left: 30px;
	color: white;
	
font-family: transat-text, sans-serif;

font-weight: 300;


	font-style: italic;
	font-size: 8.5px;
}
.shape {
	position: relative;
	width: 15px;
	height: 5px;
	background-color: white;
	border-radius: 32px 0 32px 0;
	top: 135px;
	left: 145px;
}
.shape2 {
	position: relative;
	width: 15px;
	height: 5px;
	background-color: white;
	border-radius: 32px 0 32px 0;
	top: 130px;
	left: 126px;
}
.shape3 {
	position: relative;
	width: 15px;
	height: 5px;
	background-color: white;
	border-radius: 32px 0 32px 0;
	top: 125px;
	left: 163px;
}
.img2 {
	position: absolute;
	top: 0px;
	left: -225px;
}
.img3 {
	position: absolute;
	top: 0px;
	left: -0px;
}
.img4 {
	position: absolute;
	top: 0px;
	left: 0px;
}
.footer {
	color: white;
	font-size: 20px;
	top: 280px;
	columns: 6;
	font-family: fresno, sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 20px;
	font-weight: normal;
}
.footera {
	color: white;
	font-size: 20px;
	top: 340px;
	columns: 6;
	left: 10px;
	font-family: fresno, sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 20px;
	font-weight: normal;
}
.footerb {
	color: white;
	font-size: 20px;
	top: 340px;
	columns: 6;
	left: 10px;
	font-family: fresno, sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 20px;
	font-weight: normal;
}
.footerc {
	color: white;
	font-size: 20px;
	top: 550px;
	columns: 6;
	left: 10px;
	font-family: fresno, sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 20px;
	font-weight: normal;
}
.footerd {
	color: white;
	font-size: 20px;
	top: 550px;
	columns: 6;
	left: 10px;
	font-family: fresno, sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 20px;
	font-weight: normal;
}

.home1 {
	position: relative;
	top: 350px;
	left: 120px;
}
.home2 {
	position: relative;
	top: 350px;
	left: 150px;
}
.home3 {
	position: relative;
	top: 300px;
	left: 120px;
}
.home4 {
	position: relative;
	top: 550px;
	left: 140px;
}
.home5 {
	position: relative;
	top: 550px;
	left: 140px;
}
.pb1 {
	position: relative;
	top: 153px;
	left: -10px;
}
.gif {
	position: relative;
	top: 153px;
	left: -10px;
}
.dc1 {
	position: relative;
	top: 153px;
	left: -10px;
}
.sc {
	position: relative;
	top: 153px;
	left: -10px;
}
.rm{
	position: relative;
	top: 153px;
	left: -10px;
}
